[Desktop Entry]
Version=1.0
Type=Application
Name=Android Studio
Comment=
Exec=/usr/bin/android-studio
Icon=/home/antoniovandre/Imagens/Ícones/Android Studio - Icon.png
Path=
Terminal=false
StartupNotify=false
