[Desktop Entry]
Version=1.0
Type=Application
Name=Central DJ
Comment=
Exec=/usr/bin/xterm -T "Central DJ" -e "if hash mocp &>> /dev/null; then cat '/home/antoniovandre/Imagens/Ícones/Central DJ.txt'; echo -e '\n\nOuvindo Central DJ (https://www.centraldj.com.br).\n\nEnter para sair...\n'; /usr/bin/mocp -S &>> /dev/null; /usr/bin/mocp -a -p '/home/antoniovandre/Músicas/Central DJ.m3u'; read; /usr/bin/mocp -x; else echo 'Software mocp não encontrado'; fi"
Icon=/home/antoniovandre/Imagens/Ícones/Central DJ.png
Path=
Terminal=false
StartupNotify=false
