[Desktop Entry]
Version=1.0
Type=Link
Name=MR - Calculadoras
Comment=
Icon=/home/antoniovandre/Mathematical Ramblings/Mathematical Ramblings - Public/Media/Mathematical Ramblings logo.png
URL=https://antoniovandre2.github.io/MathematicalRamblingsjs2/MR%20-%20Calculadoras.html\r
